body {
    margin:0;
}

/* Header */
nav {
    display:flex;
    justify-content:center;
}

/* First Section */
.container-fluid {
    padding-left:0 !important;
    padding-right:0 !important;
}
.img-fluid {
    height:700px !important;
}
#section_img {
    max-height:1000px;
}
figure {
    width:100%;
    text-align: center;
    position: relative;
}
figure img {
    height: 700px;
    width:100%;
}
figcaption {
    color:white;
    font-size: 1.8em;
    position: absolute;
    top:45%;
    left:40%;
}

/* Footer */
#social_networks {
    justify-content: space-around;
}

/* Login */
.card {
    margin-top:10%;
}